@font-face{
    font-family: "monFont";
    src: url("Assets/Fonts/jizfRExUiTo99u79B_mh0O6tLQ.woff2") format('woff2');
    src: url("Assets/Fonts/jizaRExUiTo99u79D0KExQ.woff2") format('woff2');
}


.topnav {
    overflow: hidden;
    background-color: #d35649;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav-right {
    float: right;
  }
  .logo {
    width: 40px;
    margin-right: 10px;
  }
  .iconMenu{
      color: #f2f2f2;
  }
  /* header */
  
  .entete{
      background-image: url("Assets/Images/group-1.jpg");
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 380px;
      background-repeat: no-repeat;
      text-align: center;
  }
  .entete-text {
    text-align: center;
    font-family: "monFont";
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }
  .titre{
    font-size: 20px;
    text-shadow: 1px 2px black;
  }
 
  .recherche{
    background-color: #f2f2f2 ;
    border-radius: 5px;
    padding: 20px 15px ;
    opacity: 0.6;
    align-content: center;
    width: 75%;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    font-family: "monFont";
    color: black;
  }
  .text-recherche{
    font-size: 15px;
  }
  .input-recherche{
    width: 100%;
    height: 30px;
  }
  .btn-recherche{
    background-color: #d35649;
    color: white;
  }
  .btn-more{
    margin-top: 20px;
    opacity: 0.8;
  }

  .firstcontent .titre2{
    text-align: center;
    font-size: 25px;
    padding: 15px 15px;
    color: #d35649;
  }
  .row-custom{
    text-align: center;
  }
  .icon-firstcontent{
    height: 40px;
    
  }
  .col-sm-6{
    height: 155px;
  }
  .events{
    background-color: #d35649;
  }
  .events1{
    background-color: #98a5a5;
  }
  .events2{
    background-color: #509bd7;
    
  }
  .event-content{
    padding: 30px 30px 0;
    color:#f2f2f2;
  }
  .parag{
    margin-top: 20px;
    font-size: 13px;
  }
  .event-btn{
    border: none;
    border-style: none;
    border-color: #f2f2f2;
    margin-left: 30px;
  }
  .img-content{
    padding: 15px;
    border-radius: 50%;
    float: right;
    width: 200px;
    height: 200px;
  }
  .footer{
    text-align: center;
    background-color: black;
    height: 320px;
  }

  /* menu footer */
 .menu{
  display: inherit;
  align-items: center;
  margin-left: 230px;
 }
  .menu-footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-align: center;
    margin-top: 50px;
  }
  li {
    float: left;
    
  }
  .menu-list .menu-link{
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
    border-color: #f2f2f2;
  }
 .custom{
   color: white;
   font-size: 50px;
   border-radius: 50%;
   margin-top: 50px;
 
 }
 .custom2{
  font-size: 30px;
  width: 50px;
  height: 20px;
 }
 .row-custom1{
   text-align: center;
   color: white;
   margin-top: 20px;
 }
 .btn-subsc{
   background-color: #444;
   color: white;
 }
 .content-footer{
   width: 60%;
   margin-top: 10%;
   margin-left: 25%;
 }
.link-footer{
  color: red;
  text-decoration: none;
}
.small-footer{
  background-color: #444;
  height: 50px;
}
.icon-s-footer{
  list-style: none;
  margin-left: 13px;
  margin-right: 13px;
  padding: 5px 5px;
  font-size: 15px;
  width: 5px;
  color: #f2f2f2;
}

/* css search page */
.search-content{
  margin-top: 20px;
  background-color: #eee;
  height: 150px;
}
.search-titre{
  text-align: center;
  color: #444;
  font-family: "monFont";
  margin-top: 15px;
}
.btnok{
  display: flex;
  height: min-content;
  margin-top: 15px;
}
.search-resultat{
  height: 300px;
}
.res{
  text-align: center;
  margin-top: 50px;
}
.img-res{
  background-color: #d35649;
  width: 300px;
}



/* 
css About page */

.content{ 
  text-align: center;
  padding-top: 30px;
  height: 500px;
  margin-top: 50px;
  box-shadow: 10px 10px 5px #98a5a5 inset;
  margin-left: 20px;
  margin-right: 20px;
}
.con{
color: #d35649;
}
.content1{
padding: 15px;
border:solid 1px;
width: 400px;
box-shadow: 3px 3px 3px 3px #98a5a5;
text-align: center;
margin-left: 130px;
margin-top: 25px;
}
.content2{

margin-top: 20px;
margin-left: 350px;
color:#f2f2f2;
}

 